@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Black+Ops+One&family=Bruno+Ace&family=Bruno+Ace+SC&family=Titillium+Web&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        margin: 0;
        padding: 0;
    }

    :root {
        --bg-dark:#131313;
        --accent: #FFB320;
        --text: #FFFFFF;
    }

    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
      }
}