@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Black+Ops+One&family=Bruno+Ace&family=Bruno+Ace+SC&family=Titillium+Web&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  :root {
    --bg-dark: #131313;
    --accent: #ffb320;
    --text: #ffffff;
  }

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
}

.card {
  position: relative;
}

.hover-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  text-align: center;
  color: white;
}

.card:hover .hover-content {
  display: block;
}
